* {
  box-sizing: border-box;
  background-color: #282c34;

}

.App-Container {
  min-height: 100vh;
  text-align: center;
  color: #ffffff;
  margin-bottom: 2rem;

}
.header-app{
  padding: 1.5rem; 
}
.heading{
  font-size: 2.5rem;
line-height: 3rem; 
font-weight: 700; 
text-transform: uppercase; 

}
.score{
  font-size: 1.5rem;
  line-height: 2rem; 
  font-weight: 700; 
}
.title{
  font-size: 1.2rem;
  font-style: italic;
  line-height: 1.4rem; 
  font-weight: 500; 

}
.main-app{
 
}
.word{
  font-size: 2rem;
line-height: 4rem;  
margin-bottom: 2rem; 
padding-bottom: 1rem;
}

.audio-section{
  padding-bottom: 1rem;
  margin-bottom: 2rem; 
}
.section-form{
  margin-bottom: 2rem; 
  padding: 20px;
}
.input-section{
  font-size: 1.8rem;
text-align: center; 
background-color: white; 
}
.message{
  padding: 20px;
}
.clue{
  color:rgb(196, 196, 196); 
}
.error{
  color: red;
}